<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/includes %>
    <title>Mythic | Logs History</title>
    <% include ./partials/links %>
  </head>
  <body>
    <% include ./partials/account/nav %>
    <main class="container" style="margin-left: 80px">
      <% include ./partials/account/all_logs %>
    </main>

    <% include ./partials/scripts %>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  </body>
</html>
