body {
  background-color: #26262b;
  padding-top: 4.5rem;
}

/* BANK ACCOUNTS */
.card-body {
  max-width: 1100px;
  overflow: auto;
}
.account-heading {
  margin-top: 20px !important;
}

tr:nth-child(even) {
  background-color: #424242;
}

/* MENU */
.nav {
  padding: 0 !important;
}
a.navbar-brand {
  margin-left: 104px;
}

.navbar-collapse {
  margin-right: 104px;
}

/* DROPDOWN & INPUT */
.manual-form label {
  width: 70px;
  text-align: left;
}
.add-log select {
  color: white;
  background-color: #424242;
  margin-left: 10px;
}
.add-log select:focus {
  color: white;
  background-color: #424242;
}
.manual-form select option {
  color: white;
  background-color: #424242;
}
.manual-form .form-group input {
  margin: 10px 0px 10px 10px;
}

.automatic-form textarea {
  background-color: #424242 !important;
  color: white !important;
  margin: 10px 0 10px 10px;
}

/* LOGS & DATATABLE */
.logs tbody tr {
  text-align: center;
  background-color: #26262b !important;
}

.logs tbody tr:nth-child(even) {
  background-color: #424242 !important;
}
.history-logs {
  margin-bottom: 40px;
}

.dataTables_filter label {
  color: white;
}
.dataTables_length {
  color: white !important;
}
select[name='DataTables_Table_0_length'] {
  margin: 0 5px 0 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: white !important;
}

.dataTables_info {
  color: white !important;
}

input[type='search'],
.manual-form .form-group input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: #444444;
}
